<br>

<h1>STYLIST TEAM</h1>

  <h3>Here is your salon's current roster of stylists:</h3>
  <br><br>

  <form action='/clients' method='post'>

  <ul>
    <% @clients.each() do |client| %>
      <li><a href="/clients/<%= client.id()%>"><%= client.name() %></a> </li>
    <% end %>
  </ul>
<br><br><br><br>
  <div class='form-group'>
    <label for='client_name'>Add A New Client:</label>
    <input id='client_name' name='client_name' class='form-control' type='text'>
  </div>
  <button class='btn-success'>Submit</button>
</form>
