<br>

<h1>HAIR SALON APP</h1>

<br>

<form action='/stylists' method='get'>
  <button class='btn-success'>Stylist List</button>
</form>
<br><br>
<form action='/clients' method='get'>
  <button class='btn-success'>Client List</button>
</form>
